version: "3.9"
services:
  tinylytics:
    image: tinylytics
    build:
      context: ~/tinylytics-runner/_work/tinylytics/tinylytics$
      dockerfile: Dockerfile
    ports:
      - "0.0.0.0:8080:9009"
    volumes:
      - /:/app/data
      - /config.yaml:/app/config.yaml
    networks:
      - ericexperiment
    env_file:
      - database.env
    restart: always
    # Ensure CGO is enabled (also set in Dockerfile)
    environment:
      - CGO_ENABLED=1

networks:
  ericexperiment:
    external: true