name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: self-hosted
    name: Build tinylytics

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Enable Yarn
        run: corepack enable
      - name: Install JS dependencies
        run: yarn install
      - name: Build JS bundle
        run: yarn build
      - name: Build container
        run: cat ~/rebuild.sh | bash
